<a href="https://colab.research.google.com/github/MLegend2028/CST182/blob/main/Tutorial_7_Mathew_Dictionaries_%26_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# **TUTORIAL #7 - Dictionaries & Sets**
<br/>

In this tutorial, we will be revise the main topics covered in dictionaries & sets.

> **Note:** *For a comprehensive understanding please refer to the materials on the LMS*

<br/>

## **#1. Dictionaries**
---

Dictionaries are another data structure avaiable in Python. They are similar to lists in the fact they can store data, however, differ in that they are in the format of `key:value` pairs (rather than values with associated indicies)

### **Basics**


We can set up a dictionary by simply assigning key:value pairs:

In [ ]:
my_dict = {
    "name": "Luke",
    "age": 33,
    "Occupation": "Educator"
}

and print the list via

In [ ]:
print(my_dict)

{'name': 'Luke', 'age': 33, 'Occupation': 'Educator'}

or print a specific value in the list via index

In [ ]:
print(my_dict["name"])

Luke

### **Dictionary Manipulative Functions**

---
<br/>

We can use a variety of functions to manipulate the data in our dictionaries

#### **Add values**

We can add values by simply assigning a new key:value pair.

In [ ]:
print(my_dict)

my_dict["height"] = 1.87
print(my_dict)

{'name': 'Luke', 'age': 33, 'Occupation': 'Educator'}
{'name': 'Luke', 'age': 33, 'Occupation': 'Educator', 'height': 1.87}

#### **Update Values**

We can update values by simply setting the key of the dictionary to a new value

In [ ]:
print(my_dict)

my_dict["age"] = 99
print(my_dict)

{'name': 'Luke', 'age': 33, 'Occupation': 'Educator', 'height': 1.87}
{'name': 'Luke', 'age': 99, 'Occupation': 'Educator', 'height': 1.87}

#### **Delete Values** | *via key*

We can delete values via the keyword `del`

In [ ]:
print(my_dict)

del my_dict["height"]
print(my_dict)

{'name': 'Luke', 'age': 99, 'Occupation': 'Educator', 'height': 1.87}
{'name': 'Luke', 'age': 99, 'Occupation': 'Educator'}

## **#2. Sets**
---

Sets are another data structure avaiable in Python. The difference is that sets do not allow duplicate values, and they also have some additional functions for comparing two sets

### **Basics**


We can set up a set by simply passing values between curly braces (similar to a dictionary - but here we do not pass key:value pairs)

In [ ]:
my_set = {"Apple", "Banana", "Orange"}

and print the set via

In [ ]:
print(my_set)

{'Apple', 'Banana', 'Orange'}

### **Set Manipulative Functions**

---
<br/>

We can use a variety of functions to manipulate the data in our sets

#### **Add values**

We can add values via the `add()` method

In [ ]:
print(my_set)

my_set.add("Mango")
print(my_set)

{'Apple', 'Banana', 'Orange'}
{'Apple', 'Banana', 'Mango', 'Orange'}

#### **Delete Values** | *via value*

We can delete values by their index via the `remove()` method

In [ ]:
print(my_set)

my_set.remove("Apple")
print(my_set)

{'Apple', 'Banana', 'Mango', 'Orange'}
{'Banana', 'Mango', 'Orange'}

### **Set Additional Functions**

---
<br/>

There are additional functions in sets to check commonalities or differences between two sets

### **`Union()`**


The `union()` method allows us to join two sets together

In [ ]:
new_set = {"Pear", "Banana"}

print(my_set)
print(new_set)

print("\n------------- union() ---------------\n")

my_set.union(new_set)

{'Banana', 'Mango', 'Orange'}
{'Banana', 'Pear'}

------------- union() ---------------

{'Banana', 'Mango', 'Orange', 'Pear'}

### **`Intersection()`**


The `intersection()` method allows us to see which values (if any) are common amongst both sets

In [ ]:
print(my_set)
print(new_set)

print("\n------------- intersection() ---------------\n")

my_set.intersection(new_set)

{'Banana', 'Mango', 'Orange'}
{'Banana', 'Pear'}

------------- intersection() ---------------

{'Banana'}

### **`Difference()`**


The `difference()` method allows us to see which values appear in the first set but not the second

In [ ]:
print(my_set)
print(new_set)

print("\n------------- difference() ---------------\n")

print(my_set.difference(new_set), "\t(my_set.difference(new_set)")
print(new_set.difference(my_set), "\t\t(new_set.difference(my_set)")

{'Banana', 'Mango', 'Orange'}
{'Banana', 'Pear'}

------------- difference() ---------------

{'Mango', 'Orange'} 	(my_set.difference(new_set)
{'Pear'} 		(new_set.difference(my_set)

<br/>


##  **#3.YOUR TURN**
---

### **Program #1 |** A Simple Student Class &nbsp; **<i>[EXTENDED #2]</i>**
---


><table>

Take the *Simple Student Class* tutorial from last week and paste your code below.
></table>

>><table>
<small>
In this program we will create a simple student class and a few objects.
<br/><br/>
The student class should have the following:<br/>

Properties
* `name` the name of the student
* `marks` a list of final marks the student has been awarded


Methods
* `add_mark()` which takes a single value and adds it to the list of marks
* `calculate_GPA()` which gets the average from the list of marks
* `print_student()` which nicely prints a transcript for the student (name, marks, GPA)</small>
>></table>

><table>

#### Your Task


1.  Update the program to read in the data from `student_marks.txt` file (rather than the current data hard-coded in the program) into a List

2. From there, you need to calculate the GPA for each student, and then print to a new file (`GPA_List.txt`) each student's name alongside their associated GPA in descending order.

></table>

<br/>

### **Your Task**

In the new program, use a dictionary to hold the data:
* `name` holds the student's name
* `scores` is a list that contains each student's scores

In [13]:
# Student Name:   MYNAME
# Student Number: MYSTUDENTNUMBER

# TODO: Insert code from simple student class from last week's tutorial here

# g = open("GPA_List.txt", "w")
# g.write("")
# g.close()
#
#
# g = open("student_marks.txt", "w")
# g.write("")
# g.close()
#
#
# g = open("student_name.txt", "w")
# g.write("")
# g.close()
while True:
        #------------------------------------")
          print(str("Enter student name and 4 marks"))
          #program = print(str("Enter student name and 4 marks"))
          student_name = input("Name or 0 to exit: ")

          if student_name == "0" or student_name == "":
            print("Exiting program.")
            break

          # if mark_num == "-1":
          #   print("Exiting program.")
          #   break

          student_marks_list = []  #sets empty list variable
          add_mark = 0
          mark_num = 0
          max_score = 100
          student_mark_list = []
          calculate_GPA = 0
          student_transcript = [0]



          while add_mark >= 0:  #sets condition for loop to continue
            mark_num += 1 #adds 1 to mark number
            add_mark = int(input(f"Mark #{mark_num}? "))

            if add_mark > max_score:
              mark_num -= 1
              print("Mark is invalid and it doesn't add the mark to the statistics")
              break

            if add_mark < 0:
                mark_num -= 1
                print("Marking ceased")
                break

            student_mark_list.append(add_mark)

            calculate_GPA = round(float(sum(student_mark_list) / len(student_mark_list)),2)

            if mark_num >= 4:
              print("Average Mark =",calculate_GPA)

              #_____________________________

              file = open("student_marks.txt", "a")
              for item in student_name:
                file.write(item)


              file = open("student_marks.txt", "a")
              file.write("\n")


              file = open("student_marks.txt", "a")
              for item in student_mark_list:
                file.write (str(item)+" ")


              file = open("student_marks.txt", "a")
              file.write("\n")
              file.close()
#____________________________________________________________
              file = open("student_name.txt", "a")
              # for item in student_name:
              file.write (student_name + " ")

                #----------------------------------------

              break

print("Continue with transcript")
file = open("student_marks.txt")
transcript = file.readlines()
print(transcript)
file.close()

student_mark= []
average_gpa = []
all_students_gpa= []
data_num = [0]
# for list in (transcript):
#   name = transcript[0]
#   marks = transcript[1]
for item in range(0, len(transcript),2):
  name = transcript[item].strip()
  marks = transcript[item+1].strip()

  list_of_integers =[int(num) for num in marks.split()]

  if list_of_integers:
    average = round(float(sum(list_of_integers) / len(list_of_integers)),2)
  else:
    average = 0
  all_students_gpa.append(f"GPA: {average}, Student name: {name}")

  student_mark.append(marks)
  # print(name)
  print(f"Student name: {name}")
  print("Student marks",*list_of_integers)
  print("GPA =",average)
  score = list_of_integers
  # all_students_gpa.sort(reverse = True)
# print(all_students_gpa)
  print(f"{name}")
  print("Scores",*score)
file = open("GPA_list.txt", "w")
for item in all_students_gpa:
  file.write(item + "\n")
file.close()

print("Continue with transcript")
file = open("student_name.txt")
name_list = file.readlines()
print(*name_list)
file.close()

first_name = name_list
names = {}

for index, element in enumerate(first_name):
  names[index] = element
print(names)

Enter student name and 4 marks
Name or 0 to exit: 0
Exiting program.
Continue with transcript
['Mat\n', '20 30 40 50 \n', 'James\n', '55 66 85 74 \n', 'Tyson\n', '95 86 47 88 \n']
Student name: Mat
Student marks 20 30 40 50
GPA = 35.0
Mat
Scores 20 30 40 50
Student name: James
Student marks 55 66 85 74
GPA = 70.0
James
Scores 55 66 85 74
Student name: Tyson
Student marks 95 86 47 88
GPA = 79.0
Tyson
Scores 95 86 47 88
Continue with transcript
Mat James Tyson
{0: 'Mat James Tyson '}

<br/><BR/>

### **Submission**
---

When you believe you have the program correctly working, please run the program and enter valid details for height and weight (you don't need to use your own if you do not want to) to get the output of BMI to show.
<br/><br/>
When you are ready to submit please go to `File` -> `Print` -> `Print PDF` and then upload and submit in the LMS.

Please save your file to GitHub via: `File` -> `Save a copy in GitHub`