<a href="https://colab.research.google.com/github/MLegend2028/CST182/blob/main/Tutorial_3_Mathew_Allen_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TUTORIAL #3 - LOOPS**
<br/>

In this tutorial, we will be revise the main topics in looping.

> **Note:** *For a comprehensive understanding please refer to the materials on the LMS*

# **#1 - Basic Loops**
---

## **`for` loop**
---

We can use the for loop to iterate over some data.

In the following, we will look at using the `range()` method to count

### **1 parameter**

By passing one parameter to the `range(y)` method, the `for` loop will count from 0 to one below the provided number (`y`).

We can see this in the following example where we pass `5` and therefore count from `1` to `4`

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

### **2 parameters**

By passing two parameters to the `range(x, y)` method, the `for` loop will count from `x` to one below the provided number (`y`).

We can see this in the following example where we pass `1,5` and therefore count from `1` to `4`

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

### **3 parameters**

By passing three parameters to the `range(x, y, z)` method, the `for` loop will count from `x` to one below the provided number (`y`) in steps of `z`.

We can see this in the following example where we pass `1,10,2` and therefore count from `1` to `9` in steps of `2`

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

<br/>

## **`while` loop**
---

We can use the `while` loop to iterate over a selection of data.

For example, here we can see how we can perform the same counting functionality as we did in the for loop - just with more steps.

In [ ]:
i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

### **User Driven**

We can create a user driven program by asking the user whether or not they want to continue.

Take for example the following program which will work out the area of a square given the side length and let the user continue inputting values until they are done.

In [ ]:
cont = 'Y'

while cont == 'Y':
  side = int(input("Enter side length: "))
  area = side * side
  print("Area = ", area)
  cont = input("Do you wish to continue (Y/N)? ")

print("Program exiting - goodbye...")

Enter side length: 2
Area =  4
Do you wish to continue (Y/N)? Y
Enter side length: 5
Area =  25
Do you wish to continue (Y/N)? N
Program exiting - goodbye...

### **User Driven |** Sentinel Value

We can improve the efficiency of the program - both for the user and for the programmer by using a sentinel value in the program - rather than an additional input for whether to continue or not.

In [ ]:
side = int(input("Enter side length (0 to exit): "))

while side != 0:
  area = side * side
  print("Area = ", area)
  side = int(input("Enter side length (0 to exit): "))


print("Program exiting - goodbye...")

Enter side length (0 to exit): 2
Area =  4
Enter side length (0 to exit): 5
Area =  25
Enter side length (0 to exit): 0
Program exiting - goodbye...

<br/>

# **#2 - Your Turn**
---

In [ ]:
first_num = min(range(50,56))
print("Lower?",first_num)

last_num = max(range(50,56))
print("Higher?", last_num)
i = 0
for i in range(50,56):
    if (i % 2) == 0:
        print(i, "Even")
    else:
        print(i, "Odd")

Lower? 50
Higher? 55
50 Even
51 Odd
52 Even
53 Odd
54 Even
55 Odd

### **PROGRAM #1 |** Odd or Even
---


Create a program that takes in a lower and upper number for a loop to iterate through, and for each number inbetween, prints if the number is odd or even

The output is expected to be similar to:

***<u>Example Run</u>***<br/>
Lower? **50**<br/>
Upper? **55**<br/>
50 Even<br/>
51 Odd<br/>
52 Even<br/>
53 Odd<br/>
54 Even<br/>
55 Odd<br/>
<br/><br/>

In [26]:
from re import L
# Student Name:   Mathew Allen
# Student Number: 1019868

# INSERT YOUR ANSWER BELOW
# objective create a range between 50 and 55
# the numbers will print on each line
# for each number a statement will indicate odd or even
# Need to print out the first number in the range and last 0r the min and max

#LOOP METHOD
odd_even = range(50,56)# variable is set to a range
number_list = list(odd_even)#variable is then converted to list

lowest_num = number_list[0]#variable for lower number in list
highest_num = number_list [0] #variable for upper number in list

for val in number_list:
  if val < lowest_num:
    lowest_num = val
print("Lower?", lowest_num)

for val in number_list:
  if val > highest_num:
    highest_num = val
print("Upper?", highest_num)

i = 0# sets the variable i
for i in number_list:#the looop will start at 50 and stop at 55
    if (i % 2) == 0:# as the loop runs it will determine if the can be divided evenly by 2
        print(i, "Even")#if true print
    else:
        print(i, "Odd")#else print (odd numbers)

#-----------------------------------------------------------------------------
#Alternate Method
# first_num = min(range(50,56))#within the range this variable is the min number
# print("Lower?",first_num)# prints the min number in range

# last_num = max(range(50,56))# within the range sets the variable to the max number
# print("Upper?", last_num)#prints the max number
# i = 0# sets the variable i
# for i in range(50,56):#the looop will start at 50 and stop at 55
#     if (i % 2) == 0:# as the loop runs it will determine if the can be divided evenly by 2
#         print(i, "Even")#if true print
#     else:
#         print(i, "Odd")#else print (odd numbers)

Lower? 50
Upper? 55
50 Even
51 Odd
52 Even
53 Odd
54 Even
55 Odd

<br/><BR/>

### **Submission**
---

When you believe you have the program correctly working, please run the program and enter valid details for height and weight (you don't need to use your own if you do not want to) to get the output of BMI to show.
<br/><br/>
When you are ready to submit please go to `File` -> `Print` -> `Print PDF` and then upload and submit in the LMS.

Please save your file to GitHub via: `File` -> `Save a copy in GitHub`